<template>
  <div class="optional-group">
    <div v-if="value" class="optional-group_content">
      <slot />
    </div>
    <div v-else class="optional-group_button" @click="$emit('input', !value)">
      <span v-text="label"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "OptionalGroup",
  props: {
    value: {
      type: Boolean,
      default: false,
      required: true
    },
    label: {
      type: String,
      default: "",
      required: true
    }
  }
};
</script>

<style scoped lang="scss">
@import "../styles/vars";
.optional-group {
  display: flex;
  flex-flow: row wrap;
  min-height: 44px;
  align-items: stretch;
  justify-content: stretch;
  margin-right: 20px;

  &:last-child {
    margin: 0;
  }
  > * {
    flex: 1 1 auto;
  }

  &_button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid $option-group-button-color;
    color: $option-group-button-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_content {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 4px;
    overflow: hidden;
    flex-flow: row nowrap;
    > * {
      flex: 1 1 130px;
    }
  }
}
</style>
