<template>
  <div
    class="search-option"
    :class="{ active: value }"
    @click="$emit('input', !value)"
  >
    <i />
    <span v-text="label"></span>
  </div>
</template>

<script>
export default {
  name: "SearchOption",
  props: {
    label: {
      type: String,
      default: ""
    },
    value: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped lang="scss">
@import "../styles/vars";
.search-option {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s linear;
  color: $option-inactive-text;
  min-height: 30px;
  align-items: center;
  cursor: pointer;
  user-select: none;

  margin-right: 23px;
  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: $option-active-text;
  }

  i {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border: 2px $option-symbol-color solid;
    border-radius: 100px;
    margin-right: 11px;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 2px;
      height: 10px;
      background-color: $option-symbol-color;
      top: 50%;
      margin-top: -5px;
      left: 50%;
      margin-left: -1px;
      transition: transform 0.5s ease-in-out;
    }
    &:after {
      transform: rotateZ(90deg);
    }
    @at-root .search-option.active i:before {
      transform: rotateZ(135deg);
    }
    @at-root .search-option.active i:after {
      transform: rotateZ(225deg);
    }
  }
}
</style>
