<template>
  <div class="bar">
    <div class="bar_params row-padding">
      <div class="input-group">
        <div v-if="!textSearch" class="input-group_type">
          <v-select v-model="city" :options="cityList" />
          <v-select v-model="action" :options="actionList" />
          <v-select v-model="type" :options="typeList" />
        </div>
        <div v-else class="input-group_text">
          <input
            v-model="textSearchValue"
            type="text"
            placeholder="Введите название объекта (бизнес-центра, торгового центра, новостройки, логопарка)"
          />
        </div>
        <button class="btn btn__green" @click="search">Найти</button>
      </div>
    </div>
    <div v-if="showOptionsBar" class="bar_optional row-padding">
      <optional-group
        v-model="searchByPrice"
        label="Добавить цену"
        class="bar_optional__price"
      >
        <input v-model="priceMin" type="text" placeholder="От" />
        <input v-model="priceMax" type="text" placeholder="До" />
        <v-select v-model="priceType" :options="priceTypeList" />
      </optional-group>
      <optional-group
        v-model="searchByArea"
        label="Добавить метраж"
        class="bar_optional__area"
      >
        <div class="bar_optional__area-inputs">
          <input v-model="areaMin" type="text" placeholder="От" />
          <input v-model="areaMax" type="text" placeholder="До" />
        </div>
        <div class="input-addon">м <sup> 2 </sup></div>
      </optional-group>
    </div>
    <div class="bar_bottom">
      <div class="type-selector">
        <toggle v-model="textSearch"></toggle>
      </div>
      <div class="options">
        <search-option v-model="searchByPrice" label="Цена" />
        <search-option v-model="searchByArea" label="Метраж" />
      </div>
    </div>
  </div>
</template>

<script>
import VSelect from "./VSelect";
import Toggle from "./Toggle";
import SearchOption from "./SearchOption";
import OptionalGroup from "./OptionalGroup";
export default {
  name: "SearchBar",
  components: { OptionalGroup, SearchOption, Toggle, VSelect },
  data: () => ({
    textSearch: false,
    textSearchValue: "",
    // textSearch: false,
    searchByPrice: false,
    searchByArea: false,
    priceMin: null,
    priceMax: null,
    areaMin: null,
    areaMax: null,
    priceType: 0,
    priceTypeList: [
      { name: "₽ / месяц", id: 0 },
      { name: "$ / месяц", id: 1 }
    ],

    city: 0,
    cityList: [
      { name: "Москва", id: 0 },
      { name: "Санкт-Петербург", id: 1 },
      { name: "Самара", id: 2 }
    ],
    action: 0,
    actionList: [
      { name: "Купить", id: 0 },
      { name: "Арендовать", id: 1 }
    ],
    type: 0,
    typeList: [
      { name: "Квартира", id: 0 },
      { name: "Дом", id: 1 },
      { name: "Офис", id: 2 },
      { name: "Торговая площадь", id: 3 }
    ]
  }),
  computed: {
    showOptionsBar() {
      return this.searchByPrice || this.searchByArea;
    }
  },
  methods: {
    search() {
      const model = {
        textSearch: this.textSearch,
        searchByPrice: this.searchByPrice,
        searchByArea: this.searchByArea
      };
      if (this.textSearch) {
        model.textSearchValue = this.textSearchValue;
      } else {
        model.city = this.city;
        model.action = this.action;
        model.type = this.type;
      }

      if (this.searchByPrice) {
        model.priceMin = this.priceMin;
        model.priceMax = this.priceMax;
        model.priceType = this.priceType;
      }

      if (this.searchByArea) {
        model.areaMin = this.areaMin;
        model.areaMax = this.areaMax;
      }

      this.$emit("search", model);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../styles/vars";

.bar {
  background: linear-gradient(90deg, $bg-gradient1 0%, $bg-gradient2 100%);
  padding-top: 14px;

  &_bottom {
    margin-top: 36px;
    min-height: 45px;
    background-color: #e6f2fe;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  &_optional {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    /*> * {*/
    /*  flex: 1 1 auto;*/
    /*}*/

    &__price {
      flex: 65 35 2px;
      /deep/ .optional-group_content {
        flex-flow: row wrap;
      }
      @media (max-width: 550px) {
        flex-basis: auto;
      }
    }
    &__area {
      flex: 35 65 1px;
    }
    &__area-inputs {
      display: flex;
      flex-flow: row wrap;
      > * {
        flex: 1 1 auto;
      }
    }

    .input-addon {
      flex: 0 1 54px;
      background-color: $option-group-addon-color;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
    }

    @media (max-width: 1100px) {
      flex-flow: column nowrap;
      > * {
        margin-bottom: 22px;
        margin-right: 0px;
      }
    }
  }
  input {
    border: 0;
    padding-left: 20px;
    font-size: 14px;
    font: $font;
    min-height: 30px;
  }
}
.row-padding {
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0 20px;
}

.input-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
  min-height: 44px;
  border-radius: 4px;
  overflow: hidden;
  @media (max-width: 550px) {
    flex-flow: column;
    .btn.btn__green {
      flex-basis: 30px;
    }
  }

  &_type,
  &_text {
    flex: 1 1 calc(100% - 130px);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: stretch;

    > * {
      flex: 1 1 auto;
      min-height: 30px;
      min-width: 190px;
    }
  }

  &_text {
  }
}

.btn {
  display: block;
  text-align: center;
  min-height: 30px;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: $font;
  font-weight: 500;
  &.btn__green {
    background-color: $search-btn-bg;
    color: $search-btn-color;
    flex: 1 0 130px;

    &:hover {
      color: $search-btn-hover-color;
      background-color: $search-btn-bg;
    }
  }
}

.options {
  display: flex;
  flex-flow: row wrap;
}
</style>
