<template>
  <div class="toggle">
    <input
      :id="id"
      type="checkbox"
      :checked="value"
      @input="$emit('input', $event.target.checked)"
    />
    <label :for="id">
      <span>
        Основной поиск
      </span>
      <i class="switch" />
      <span>
        Искать по названию
      </span>
    </label>
  </div>
</template>

<script>
export default {
  name: "Toggle",
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    id: 0
  }),
  created() {
    console.log(this.id);
    this.id = Math.floor(Math.random() * 100000);
  }
};
</script>

<style scoped lang="scss">
@import "../styles/vars";
.toggle {
  position: relative;
  min-height: 45px;
  display: flex;
  flex-flow: row;
  align-items: center;
  input {
    position: absolute;
    left: -100vw;

    &:checked + label {
      i:before {
        transform: translateX(18px);
      }
      span:last-child {
        color: $toggle-active-text;
        &:before {
          width: 100%;
        }
      }
    }

    &:not(:checked) + label {
      span:first-child {
        color: $toggle-active-text;
        &:before {
          width: 100%;
        }
      }
    }
  }
  label {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      font-size: 14px;
      color: $toggle-inactive-text;
      position: relative;
      user-select: none;
      transition: all 0.2s linear;

      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 50%;
        border-bottom: 1px dotted $toggle-active-text;
        transform: translateX(-50%);
        transition: all 0.2s linear;
      }
    }

    i {
      display: block;
      background-color: $toggle-bg-color;
      width: 40px;
      height: 22px;
      border-radius: 100px;
      position: relative;
      margin: 12px;
      &:before {
        display: block;
        content: "";
        position: absolute;
        background-color: $toggle-color;
        border-radius: 100px;
        width: 18px;
        height: 18px;
        left: 2px;
        top: 2px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        transition: transform linear 0.15s;
      }
    }
  }
}
</style>
