<template>
  <div class="select">
    <select
      :value="value"
      @input="
        $emit(
          'input',
          (isNaN(+$event.target.value) && $event.target.value) ||
            +$event.target.value
        )
      "
    >
      <option
        v-for="option in options"
        :key="option[keyField]"
        :value="option[valueField]"
        v-text="option[textField]"
      />
    </select>
  </div>
</template>

<script>
export default {
  name: "VSelect",
  props: {
    value: {
      type: null,
      default: null,
      required: true
    },
    options: {
      type: Array,
      default: () => [],
      required: true
    },
    textField: {
      type: String,
      default: "name"
    },
    keyField: {
      type: String,
      default: "id"
    },
    valueField: {
      type: String,
      default: "id"
    }
  }
};
</script>

<style scoped lang="scss">
@import "../styles/vars";
.select {
  position: relative;
  display: flex;
  min-height: 30px;

  select {
    width: 100%;
    border: 0;
    padding-left: 20px;
    font-size: 14px;
    font-family: $font;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  &:after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #63758c transparent transparent transparent;
    top: 50%;
    margin-top: -3px;
    right: 20px;
  }
}
</style>
