<template>
  <div id="app">
    <search-bar @search="onSearch"></search-bar>
  </div>
</template>

<script>
import SearchBar from "./components/SearchBar";
export default {
  name: "App",
  components: { SearchBar },
  methods: {
    onSearch(data) {
      console.log("Search", { data });
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import "styles/vars";
#app {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}
</style>
